@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-r from-cyan-500 to-blue-500;
    @apply text-lightGreen;
}

html{
    font-family: poppins,system-ui, sans-serif;
}

input:disabled{
    background-color: #D9D9D9;
}

input{
    color: black;
}